## DATA ANALYSIS: FIVE YEAR FINANCIAL REPORTS & COMPETITORS FINANCIALS

### Import dependancies

In [6]:
import duckdb
import pandas as pd
import matplotlib.pyplot
import numpy

### Data source

In [7]:
data_source_financial_reports = "../data/parquet/financial_reports.parquet"

data_source_competitors = "../data/parquet/competitors_fr.parquet"

### Read financial reports

In [8]:
conn = duckdb.connect(database=':memory:') 

conn.execute(f"""
    CREATE TABLE financial_reports AS
    SELECT AOP, year_1, year_2, year_3, year_4, year_5
    FROM read_parquet('{data_source_financial_reports}')
""")

df_fr = conn.execute("SELECT * FROM financial_reports").fetchdf()

df_fr.head(2)

    AOP  year_1  year_2  year_3  year_4  year_5
0  0001       0       0       0       0       0
1  0002  114790  101222   91204   81606   77543

### Read competitors financial report for last year

In [39]:
conn = duckdb.connect(database=':memory:') 

conn.execute(f"""
    CREATE TABLE competitors_reports AS
    SELECT AOP, competitor_1, competitor_2, competitor_3, competitor_4, competitor_5
    FROM read_parquet('{data_source_competitors}')
""")

df_competitors = conn.execute("SELECT * FROM competitors_reports").fetchdf()

df_competitors.head(2)

    AOP  competitor_1  competitor_2  competitor_3  competitor_4  competitor_5
0  0001             0             0             0             0             0
1  0002        160770         87822        253512         17935        467292